@keyframes spinner {
    to {transform: rotate(360deg);}
}

.fluttr-input {
    & input {
        width: 100%;
        color: $fluttr-black;
    }
    &.loading {
        cursor: wait;
        &::after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 70%;
            left: 100%;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            margin-left: -10px;
            border-radius: 50%;
            border-top: 2px solid blue;
            border-right: 2px solid transparent;
            animation: spinner .6s linear infinite;
        }
    }
}