.opportunityHeaderPanel {

  .company {
    font-size: $text-large;
    color: $fluttr-esmerald-green;
    font-weight: 700;
  }

  .role {
    font-size: $text-medium;
    color: $fluttr-black;
    font-weight: 300;
  }

}