.fal,.fas,.far,.fab {
    &.blue {
        color: $fluttr-blue;
    }
    &.green {
        color: $fluttr-green;
    }
    &.orange {
        color: $fluttr-orange;
    }
    &.purple {
        color: $fluttr-purple;
    }
    &.caca {
        color: $fluttr-caca;
    }
    &.black {
        color: $fluttr-black;
    }
    &.red {
        color: $fluttr-red;
    }
}