@keyframes spinner {
  to {transform: rotate(360deg);}
}
.btn {
  box-sizing: border-box;
  position: relative;
  border-radius: 100px;
  padding: 4px 40px;
  font-size: 20px;
  font-weight: normal;
  border-width: 2px;
  border-color: transparent;
  border-style: solid;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 200px;
  max-width: 100%;
  text-align: center;
  cursor: pointer;
  box-sizing: content-box;
  transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
  &:focus {
      outline: none;
  }
  &.btn-link {
      background-color: transparent;
      color: $fluttr-caca;
      &.btn-inverse {
          color: $fluttr-caca;
          border-color: #cacaca;
      }
  }
  &.btn-red {
      color: white;
      background-color: #e74c3c;
      border-color: #e74c3c;
      &.btn-inverse {
          color: #e74c3c;
      }
  }
  &.btn-blue {
      background-color: $fluttr-blue;
      color: white;
      border-color: $fluttr-blue;
      &.btn-inverse {
          color: $fluttr-blue;
      }
  }
  &.btn-orange {
      background-color: #ffa600;
      border-color: #ffa600;
      color: white;
      border-radius: 50px;
  }
  &.btn-black {
      background-color: #333;
      color: #979797;
  }
  &.btn-green {
      background-color: #1abc9c;
      color: white;
      &.btn-inverse {
          color: rgb(26, 188, 156);
      }
  }
  &.btn-transparent-green {
      cursor: pointer;
      border: 1px solid #1abc9c;
      border-radius: 50px;
      color: #1abc9c;
      display: inline-block;
      padding: 9px 15px;
      background-color: transparent;
  }
  &.btn-full-page {
      display: block;
      margin: auto;
      width: 100%;
  }
  &.btn-md {
      height: 36px;
      padding: 5px 22px;
      font-size: 16px;
  }
  &.btn-lg {
      height: 56px;
      font-size: 18px;
      border-radius: 10px;
      min-width: 280px;
  }
  &.btn-big {
      min-width: 160px;
      padding: 12px 22px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
  }
  &.btn-small {
      min-width: 120px;
      padding: 0px 10px;
      font-size: 16px;
      height: 30px;
      border-radius: 7px;
  }
  &.btn-xsmall {
      height: 40px;
      border-radius: 20px;
      font-size: 16px;
      min-width: 80px;
      padding: 0 10px;
  }
  &.btn-align-left {
      display: block;
      margin-left: auto;
  }
  &.btn-sidebar {
      margin: 0;
      background-color: transparent;
      color: #89949B;
      border-radius: 0;
      &:hover {
          background-color: rgba(0, 0, 0, 0.2);
      }
  }
  &:hover {
      cursor: pointer;
  }
  &.btn-center {
      display: block;
      margin: auto;
  }
  &.loading {
      cursor: wait;
      &::after {
          content: '';
          box-sizing: border-box;
          position: absolute;
          top: 40%;
          left: 80%;
          width: 30px;
          height: 30px;
          margin-top: -10px;
          margin-left: -10px;
          border-radius: 50%;
          border-top: 2px solid #fff;
          border-right: 2px solid transparent;
          animation: spinner .6s linear infinite;
      }
  }
  &.btn-inverse {
      border-width: 2px;
      background-color: transparent;
  }
  &[disabled] {
      opacity: 0.25;
      cursor: default;
    }
}
a.link-as-button {
  display: block;
}

.fa-linkedin-in {
  color: #fff;
}


@media (min-width: $mobile-min) and (max-width: $mobile-max) {
  .btn {
    &.btn-right, &.btn-left {
      display: block;
      margin: auto;
    }
  }
}
@media (min-width: $tablet-min) and (max-width: $tablet-max) {
  .btn {
    &.btn-right, &.btn-left {
      display: block;
      margin: auto;
    }
  }
}
@media (min-width: $desktop-sm-min) and (max-width: $desktop-sm-max) {
  .btn {
    &.btn-right {
      display: block;
      margin-left: auto;
    }
    &.btn-left {
      display: block;
      margin-right: auto;
    }
  }
}
@media (min-width: $desktop-lg-min){
  .btn {
    &.btn-right {
      display: block;
      margin-left: auto;
      margin-right: 0px;
    }
    &.btn-left {
      display: block;
      margin-right: auto;
      margin-left: 0px;
    }
  }
}
